
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PrivacyPolicy</h2>

<ul>
    <li>This app is in testing phase please do not donwload without contacting on ishwar3972@gmail.com</li>
    <li>Users can create account using their email address.</li>
    <li>We will gather user's personal information Name, Age, Sex, Email, Location and Photos.</li>
    <li>All this data will be stored on Godaddy's secure server.</li>
    <li>All this data will be stored on Godaddy's secure server.</li>
    <li>
        User can anytime request for closing the account.
    </li>
    <li>The data of the user will not be shared to any other organisations except the party buddies application.</li>
</ul>



